<h2>Account</h2>

@if (session(); as account) {
  <div class="photo">
    <div class="avatar" [class.is-loading]="photoLoading()">
      @if (account.avatarUrl && !uploading()) {
        <img [src]="account.avatarUrl" alt="" />
      } @else if (!photoLoading()) {
        <span>{{ initial(account.name) }}</span>
      }
    </div>
    <label>
      {{ account.avatarUrl ? 'Change photo' : 'Add photo' }}
      <input type="file" accept="image/jpeg,image/png,image/webp,image/gif" (change)="onPhotoSelected($event)" />
    </label>
  </div>
  @if (error()) {
    <p class="error">{{ error() }}</p>
  }

  <dl>
    <div>
      <dt>Name</dt>
      <dd>{{ account.name }}</dd>
    </div>
    <div>
      <dt>Email</dt>
      <dd>{{ account.email }}</dd>
    </div>
  </dl>
}
